
@model  Entities.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("AddContent", "WriterPanel", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            <input type="hidden" name="HeadingId" value="@ViewBag.id"  />
            <br />
            @Html.Label("Yorum yazınız : ")
            @Html.TextAreaFor(w => w.Text, 8, 30, new { @class = "form-control" })
            @Html.ValidationMessageFor(w => w.Text, "", new { @style = "color: red" })
            <br />
            <button class="btn btn-warning">Yazar Ekle</button>
        </div>
    </div>

}

