@using Entities.Concrete
@model List<Category>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h2>Tablo</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kategori İsmi</th>
                <th>Açıklama</th>
                <th>Aktiflik Durumu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="/Category/Add" class="btn btn-success">Kategori Ekle</a>
