@using Entities.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Kategoriler</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Kategori İsmi</th>
                <th>Açıklama</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td><a href="/Category/Delete/@item.Id" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Category/Update/@item.Id" class="btn btn-warning">Güncelle</a></td>
                    <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a href="/Category/Add" class="btn btn-success">Kategori Ekle</a>
